php_flag magic_quotes_runtime 0
php_flag magic_quotes_gpc 0
php_value max_execution_time 500
php_value memory_limit 180M
php_value display_errors Off
php_value log_errors On
# php_value mbstring.internal_encoding UTF-8
# php_value mbstring.encoding_translation 1
# php_value mbstring.http_input UTF-8
# php_value mbstring.http_output UTF-8


AddDefaultCharset utf-8
AddCharset utf-8 .php .inc .html

<Files ~ "\.inc$">
  Order allow,deny
  Deny from all
</Files>


RewriteEngine on
RewriteRule ^vote$ pages/vote.php



# just for testing
#RewriteEngine on
#RewriteRule ^RSVP$ tests/sane-donate.php
#RewriteRule  ^springfest(.*$)  tests/public_springfest.php/$1 [L]
