/* $Id$ */
p,table,li,h1,h2,h3
{
  font-family: verdana, arial, 'sans serif'; 
}

body{ 
	margin: 0;
	padding: 0;
 }

p,li,th,td
{
  font-size: 9px;

}
/*/*/a{}
body,
body td,
body th,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
voice-family: inherit;
font-size: small;
}
html>body,
html>body td,
html>body th
html>body p {
  font-size: small;
}
/* */

.foobar {
  background: grey;
}

h3 { 
	font-size: 110%;
 }

div.box { 
	border: solid;
 	 border-width: thin; 
  	width: 80% }



 ul {

	list-style: none;	
	margin: 0;
	padding: 0;
}

 ul li {
	margin: 0;
	padding: 1em 0 0 0;

}

 ul li ul li {
	margin: 0 0 0 0;
	padding: .5em 0 0  1em;
}

 ul li ul li ul li {
	margin: 0 0 0 0;
	padding: 0 0 0  1em;
}



#leftCol {
  width: 25ex;
	background-color:  #ffcc99;
	  float: left;
	margin-right:  1em;
	padding-right: 1em;
	padding-left: 1em;
}

#header { 
	padding-left: 4px;
 }

#rightCol {
  width: 85%;
	/* margin: 0 0 0 40ex; */
}

#footer {
	width: 100%;
	float: left;
	text-align: center; 
}

input, textarea, select {
  border: solid 1px black;
}

input[type="submit"] {
  cursor: pointer;
  cursor: hand;
}


TABLE { 
  margin-top: .5em;
  margin-bottom: .5em;
}

table.sub {
  margin-left: 2%;
}

A:hover {
        color: #bb33dd;
}


