/* $Id$ */

body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 76%;
  /* font sizing in ems, baby. if you want to change anything, just change this.*/
	/*funny thing happens at 75% and lower. opera goes to a nice small size, but moz and ie pc change almost not at all. seems 76% is as small as you can go and stay the same across browsers. poop.*/
	color: #000;
	background-color: #fff;
	}


h1 {
	font-size: 2.0em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
  /*both set to zero and padding in header div is used intead to deal with compound ie pc problems that are beyound summary in a simple comment.*/
	}
h2 {
	font-size: 1.7em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
h3 {
	font-size: 1.4em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
h4 {
	font-size: 1.2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
h5 {
	font-size: 1.0em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
h6 {
	font-size: 0.8em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
img {
	border: 0;
 /* test in IE first  float: left; */
	}



/* END of general stuff */

.foobar {
  background: gray;
}


#backbutton { 
	background-color:  #ffcc99;
	text-align: center;
	border: none;
}



.menu ul {

	list-style: none;	
	margin: 0;
	padding: 0;
}

 ul li {
	margin: 0;
	padding: 1em 0 0 0;

}

 ul li ul li {
	margin: 0 0 0 0;
	padding: .5em 0 0  1em;
}

 ul li ul li ul li {
	margin: 0 0 0 0;
	padding: 0 0 0  1em;
}



div.leftCol {
  width: 25ex;
	background-color:  #ffcc99;
	  float: left;
	margin-left:  .5em;
	padding-left:  .5em;
}

#header { 
	padding-left: 4px;
 }

div.rightCol {
 	margin-left: 30ex; 
   margin-right: 2ex; 
	/* margin: 0 0 0 40ex; */
}

div.centerCol {
 	margin-left: 1ex; 
   margin-right: 2ex; 
}

#footer {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center; 
}

#heading { 
font-weight: bold; 
float:left 
}

#loginblock{ 
text-align: right;
 }


input, textarea, select {
  border: solid 1px black;
}

input[type="submit"] {
  cursor: pointer;
  cursor: hand;
}


table { 
  margin-top: .5em;
  margin-bottom: .5em;
	padding: 1px;
  background-color: #ffffff;
}

tr {  
    vertical-align: top;
}

table.sub {
  margin-left: 2%;
}

#warning { 
	background-color: red;
	border: none;
	width: 85%;
	padding: 1px;
	margin: 1px;
 }

A:hover {
        color: #bb33dd;
}


p.letter{ 
	font-family: "Times New Roman", serif; 
	font-size: 12pt; 
 }


#toplogo{  
	display: none;
	position: fixed; 
}

#mainletter{ 
	width: 6in;
	border: 1pt;
	border-color: black;
 }

#email{ 
	width: 50%;
 }

#horiztable { 

 }

.error { 
	color: #ff0000;
 }


.sponsor p	{
	margin: 0;
	padding: 0;	
  }

.sponsor ul { 
	padding: 0;
	margin: 0;
	list-style-type: none;
 }

.sponsor ul li { 
	margin-top: 0;
	padding-top: 0;
	padding-left: 1em;
	padding-bottom: 2px;
	padding-right: 0;
 }

.small {
  color: gray;
}

.altrow1 {  
  background-color: #dddddd;
}

.altrow2 {  
  background-color: #ccccff;
}

/* hack around phptal */
.altrow0 {  
  background-color: #ccccff;
}

/* AFIACT, this is only used in horiztable */
.tabletitles { 
  background-color: #cccccc;
 }

.tableheaders { 
  background-color: #aabbff;
  font-weight: bold;
  padding-left: 2px;
  vertical-align: middle;
  text-align: left;
 }

.tablecontainer{ 
  background-color: #aa99ff;
  padding: 0;
  margin-bottom: 1em;
 }

.actions { 
  color: gray;
display:inline; 
}

.hidden { display:none }

.inline { display:inline }


table.multiselect { 
  border: solid 1px ;    
  padding:1;      
  text-align:center ;
 }

td.multiselect { 
  text-align: center 
}


div.possible_packages_scroll {
    display: block;
    border: 1px solid #CCCCCC;
    padding: 2px 4px;
    margin-top: .3em;
    height: 100px;
    overflow: auto;
}

div.possible_packages {
    display: inline;
    font-size: .60em;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    wrap-option: emergency; /* CSS 3 */
}

.container {
  background-color:#FFFFFF; 
  margin:0 auto 0 auto; 
  padding:0; 
  width:85%;}


ul.navbar {
  list-style-type:none; 
  float:left; 
  display:block; 
  width:100%; 
  text-align: center;
/*   line-height:1.5em;  */
  clear:both; 
  margin:0; 
  padding:0; 
  background-color:#999999;}

ul.navbar li {
  display:inline;}

a.nav:link, a.nav:visited {
  display:block; 
  float:left; 
  width:24.5%; 
  padding:0.5em 0 0.5em 0; 
  margin:0; 
  text-decoration:none; 
  background-color:#999999; 
  color:#FFFFFF;}

a.nav:hover {
  display:block; 
  float:left; 
  width:24.5%; 
  padding:0.5em 0 0.5em 0; 
  margin:0; 
  text-decoration:none; 
  background-color: #aabbff;
color:#FFFFFF;}

a.nav:active {
  display:block; 
  float:left; 
  width:24.5%; 
  padding:0.5em 0 0.5em 0; 
  margin:0; 
  text-decoration:none; 
  background-color:#999999; 
  color:#FFFFFF;}

a.navcurrent {
  display:block; 
  float:left; 
  width:24.5%; 
  padding:0.5em 0 0.5em 0; 
  margin:0; 
  text-decoration:none; 
  background-color: #aa99ff;
  color:#FFFFFF;}




@media print { 	
  #header { display:none }	
  #footer { display:none }	
  #leftCol { display:none }
  #springfestpretty { display:none }
  .actions { display: none }	
  #rightCol { margin: 0 }
  td { 
    padding-bottom: 10pt; 
    vertical-align: middle;
    border-spacing: 0; 
    border-bottom: 1pt solid black; 
  }
  
  .pagebreak { page-break-before: always }
  


 }
