/* $Id$ */
p,table,li,h1,h2,h3
{
  font-family: verdana, arial, sans serif; 
}

body{ 
	margin: 0;
	padding: 0;
 }

p,li,th,td
{
	font-size: 9px;
	padding: 1px;
	margin: 0; 

}
/*/*/a{}
body,
body td,
body th,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
voice-family: inherit;
font-size: small;
}
html>body,
html>body td,
html>body th
html>body p {
  font-size: small;
}
/* */

.foobar {
  background: grey;
}

h3 { 
	font-size: 110%;
 }

#backbutton { 
	background-color:  #ffcc99;
	text-align: center;
	border: none;
}



.menu ul {

	list-style: none;	
	margin: 0;
	padding: 0;
}

 ul li {
	margin: 0;
	padding: 1em 0 0 0;

}

 ul li ul li {
	margin: 0 0 0 0;
	padding: .5em 0 0  1em;
}

 ul li ul li ul li {
	margin: 0 0 0 0;
	padding: 0 0 0  1em;
}



#leftCol {
  width: 25ex;
	background-color:  #ffcc99;
	  float: left;
	margin-left:  .5em;
	padding-left:  .5em;
}

#header { 
	padding-left: 4px;
 }

#rightCol {
 	margin-left: 30ex; 
   margin-right: 2ex; 
	/* margin: 0 0 0 40ex; */
}

#centerCol {
 	margin-left: 1ex; 
   margin-right: 2ex; 
}

#footer {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center; 
}

input, textarea, select {
  border: solid 1px black;
}

input[type="submit"] {
  cursor: pointer;
  cursor: hand;
}


table { 
  margin-top: .5em;
  margin-bottom: .5em;
	padding: 1px;
}

table.sub {
  margin-left: 2%;
}

#warning { 
	background-color: red;
	border: none;
	width: 85%;
	padding: 1px;
	margin: 1px;
 }

A:hover {
        color: #bb33dd;
}


p.letter{ 
	font-family: "Times New Roman", serif; 
	font-size: 12pt; 
 }


#toplogo{  
	display: none;
	position: center; 
}

#mainletter{ 
	width: 6in;
	border: 1pt;
	border-color: black;
 }

#email{ 
	width: 50%;
 }

#horiztable { 

 }

p.error { 
	color: #ff0000;
 }


.sponsor p	{
	margin: 0;
	padding: 0;	
  }

.sponsor ul { 
	padding: 0;
	margin: 0;
	list-style-type: none;
 }

.sponsor ul li { 
	margin-top: 0;
	padding-top: 0;
	padding-left: 1em;
	padding-bottom: 2px;
	padding-right: 0;
 }

 .hidden {
   overflow: hidden;
   visibility: hidden;
   display: none;
 }


@media print { 	
	#header { display:none }	
	#footer { display:none }	
	#leftCol { display:none }
	#springfestpretty { display:none }
	a { display: none }	
	#rightCol { margin: 0 }
	td { 
			padding-bottom: 10pt; 
			vertical-align: middle;
			border-spacing: 0; 
			border-bottom: 1pt solid black; 
	}

 }
