RewriteEngine on
#RewriteRule ^RSVP$ members/rsvp.php
#RewriteRule ^rsvp$ members/rsvp.php

RewriteRule ^springfest$ members/pages/public_auction.php

#RewriteRule ^sf/donate.php$ /

#another temporary hack to cover a typo in leigh ann's post
RewriteRule ^vote$ members/pages/vote.php

php_flag magic_quotes_runtime 0
php_flag magic_quotes_gpc 0
